<ion-header>
  <app-header type="buttons"></app-header>
</ion-header>

<ion-content>

  <ion-list class="app-list" *ngIf="dress">

    <ion-list-header>
      <ion-title>Dress Description</ion-title>
    </ion-list-header>

    <ion-item>
      <ion-label position="floating" color="light">* Name</ion-label>
      <ion-input [(ngModel)]="dress.name" required></ion-input>
      <ion-button slot="end" fill="clear" shape="round" (click)="editClicked($event)">
        <ion-icon src="../../assets/svg/icon_edit2.svg" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="light">Informative details</ion-label>
      <ion-textarea placeholder="Enter here" [(ngModel)]="dress.description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="light">* Style</ion-label>
      <ion-input [(ngModel)]="dress.style" required></ion-input>
      <ion-button slot="end" fill="clear" shape="round" (click)="editClicked($event)">
        <ion-icon src="../../assets/svg/icon_edit2.svg" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="light">* Category</ion-label>
      <ion-input readonly required [value]="dress.category ? categoryService.getCategoryById(dress.category).title : ''"></ion-input>
      <ion-select class="ion-hide" #categorySelect [(ngModel)]="dress.category">
        <ion-select-option *ngFor="let c of categoryService.allCategories" [value]="c.id">{{c.title}}</ion-select-option>
      </ion-select>
      <ion-button slot="end" fill="clear" shape="round" (click)="categorySelect.open()">
        <ion-icon src="../../assets/svg/icon_chevron-down.svg" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="light">* Size</ion-label>
      <ion-input readonly required [value]="dress.size ? (dress.size | dressSize) : ''"></ion-input>
      <ion-select class="ion-hide" #sizeSelect [(ngModel)]="dress.size">
        <ion-select-option *ngFor="let s of DressSizes" [value]="s">{{s | dressSize}}</ion-select-option>
      </ion-select>
      <ion-button slot="end" fill="clear" shape="round" (click)="sizeSelect.open()">
        <ion-icon src="../../assets/svg/icon_chevron-down.svg" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="light">* Rent price</ion-label>
      <ion-input type="number" min="0" required [(ngModel)]="dress.price">
        <ion-text *ngIf="dress.price" class="ion-padding-end">{{COIN_SIGN}}</ion-text>
      </ion-input>
      <ion-button slot="end" fill="clear" shape="round" (click)="editClicked($event)">
        <ion-icon src="../../assets/svg/icon_edit2.svg" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="light">* Available dates - FROM</ion-label>
      <ion-datetime doneText="OK"
                    readonly
                    required
                    #fromInput
                    [min]="DateUtil.TodayISO()"
                    [max]="yearsAfter()"
                    [ngModel]="DateUtil.DateToISO(dress.fromDate)"
                    (ngModelChange)="dress.fromDate = DateUtil.DateToDate($event)"
      ></ion-datetime>
      <ion-button slot="end" fill="clear" shape="round" (click)="fromInput.open()">
        <ion-icon src="../../assets/svg/icon_calendar.svg" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="light">* Available dates - TO</ion-label>
      <ion-datetime doneText="OK"
                    #toInput
                    readonly
                    required
                    [min]="DateUtil.DateToISO(dress.fromDate)"
                    [max]="yearsAfter(dress.fromDate)"
                    [ngModel]="DateUtil.DateToISO(dress.toDate)"
                    (ngModelChange)="dress.toDate = DateUtil.DateToDate($event)"
      ></ion-datetime>
      <ion-button slot="end" fill="clear" shape="round" (click)="toInput.open()" [disabled]="!dress.fromDate">
        <ion-icon src="../../assets/svg/icon_calendar.svg" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="light">Deposit amount</ion-label>
      <ion-input type="number" min="0" [(ngModel)]="dress.deposit">
        <ion-text *ngIf="dress.deposit" class="ion-padding-end">{{COIN_SIGN}}</ion-text>
      </ion-input>
      <ion-button slot="end" fill="clear" shape="round" (click)="editClicked($event)">
        <ion-icon src="../../assets/svg/icon_edit2.svg" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="light">Delivery time (in days)</ion-label>
      <ion-input type="number" min="0" [(ngModel)]="dress.supplyDays"></ion-input>
      <ion-button slot="end" fill="clear" shape="round" (click)="editClicked($event)">
        <ion-icon src="../../assets/svg/icon_edit2.svg" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="light">* Turn back time (in days)</ion-label>
      <ion-input type="number" min="0" required [(ngModel)]="dress.returnDays"></ion-input>
      <ion-button slot="end" fill="clear" shape="round" (click)="editClicked($event)">
        <ion-icon src="../../assets/svg/icon_edit2.svg" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="light">* Color</ion-label>
      <ion-input [(ngModel)]="dress.color" required placeholder="ex: '#ffa500' or 'orange'"></ion-input>
      <ion-input type="color" class="ion-hide" #colorPicker [(ngModel)]="dress.color"></ion-input>
      <ion-note slot="end">
        Click to pick
        <ion-icon name="arrow-forward" style="vertical-align: bottom"></ion-icon>
      </ion-note>
      <ion-avatar slot="end" class="color-avatar"
                  [ngStyle]="{backgroundColor: dress.color}"
                  (click)="openColorPicker(colorPicker)"
      ></ion-avatar>
    </ion-item>

    <ion-row>
      <ion-button shape="round" color="secondary" class="normal-btn" id="photos-btn" (click)="inputImage.click()">Upload Photos</ion-button>
      <input type="file" accept="image/*" multiple class="ion-hide" #inputImage (change)="onPhotosSelected($event)">
    </ion-row>
    <ion-item>
      <ion-slides [options]="photosSliderOptions" *ngIf="dress.photos.length || photosInProgress.length">
        <ion-slide *ngFor="let p of dress.photos; let idx = index" (click)="openPhotoActionSheet(p, idx)">
          <img [src]="p">
        </ion-slide>
        <ion-slide *ngFor="let p of photosInProgress">
          <div class="on-progress">
            <ion-spinner color="light"></ion-spinner>
            <div [ngStyle]="{width: p.progress+'%'}">
              <ion-text>{{p.progress+'%'}}</ion-text>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer *ngIf="dress">
  <ion-button expand="full" color="secondary" [disabled]="!hasChanges()" (click)="save(true)">Publish</ion-button>
  <ion-button expand="full" color="medium" [disabled]="!hasChanges()" (click)="save()" *ngIf="!dress.status">Save as draft</ion-button>
</ion-footer>
