ion-input + ion-button {
  user-select: none;
}

ion-textarea {
  border: solid var(--ion-color-light) 1px;
  --padding-start: 0.5em !important;
  --padding-end: 0.5em !important;
  margin: 0.5em 0;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  //--highlight-height: 0;
}

ion-slides {
  padding: 0.5em 0;
  width: 100%;
  ion-slide {
    height: 6em;
    width: 6em;
    padding: 0 0.5em;
    .on-progress {
      height: 100%;
      width: 100%;
      div {
        height: 1em;
        margin: 1em 0;
        border: solid white 1px;
        background-color: var(--ion-color-primary);
        ion-text {
          position: absolute;
          left: 0;
          width: 100%;
          text-align: center;
          color: white;
          font-size: 0.8em;
        }
      }
    }
  }
}

.color-avatar {
  border: solid var(--ion-color-dark) 1px;
  margin-inline-start: 0.5em;
}

#photos-btn {
  margin: 1em auto 0;
}

ion-footer {
  ion-button {
    margin: 0.5em 0;
    text-transform: none;
    height: 3em;
  }
}
