ion-toolbar {
  --background: linear-gradient(var(--ion-color-secondary), var(--ion-color-primary));
  border-bottom: solid #222222 2px;
}

.row {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background: transparent;
  padding: 0.5em 0.2em;
}

#adv-btn {
  margin: 0.5em auto;
  --padding-start: 1em;
  --padding-end: 1em;
}

ion-note {
  margin: 0;
  font-size: 0.7em;
  color: white;
  text-align: center;
}

.tiny-btn {
  font-size: 0.7em;
  --color: white;
  --border-color: white;
  --border-width: 0.5px;
  height: 2.5em;
  --padding-start: 0.5em;
  --padding-end: 0.5em;
  margin: 0 0.2em;
  text-transform: capitalize;
  font-weight: lighter;
  ion-icon {
    color: white;
  }
}
ion-button.selected {
  --color: var(--ion-color-primary);
  --background: white;
}


.list {
  width: 100%;
  padding: 0;
  position: fixed;
  box-shadow: black 0 0 20px;
  background-color: var(--ion-color-primary);
  ion-item-divider {
    padding: 0.5em 0;
    ion-title {
      padding: 0;
    }
    ion-icon {
      margin: 0;
      padding: 0 0.5em;
    }
  }
  ion-item {
    border-bottom: solid #ffc7de 1px;
    //ion-input {
    //  border: solid white 1px;
    //  border-radius: 2em;
    //  height: 2em;
    //  --padding-start: 1em;
    //}
  }
  ion-checkbox {
    --background: transparent;
    --border-color: var(--ion-color-primary-contrast);
    --background-checked: var(--ion-color-primary-contrast);
    --border-color-checked: var(--ion-color-primary-contrast);
    --checkmark-color: var(--ion-color-primary);
  }
  .scrollable-area {
    height: 60vh;
    overflow-y: auto;
    border-top: solid var(--ion-color-primary-tint) 1px;
  }
}


.list.open {
  height: auto;
  animation-name: showFilter;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.list.close {
  height: 0;
  animation-name: hideFilter;
  animation-duration: 300ms;
  animation-fill-mode: both;
  animation-direction: reverse;
}

@keyframes showFilter {
  from {max-height: 0}
  to {max-height: 100%}
}

@keyframes hideFilter {
  from {max-height: 0}
  to {max-height: 100%}
}

ion-searchbar {
  padding: 0;
  border-radius: 0;
}

.input-item {
  padding: 0 4em 0 2em;
  p {
    color: white;
    font-weight: lighter;
    padding: 0 0.5em;
    margin: 0.5em 0;
  }
  .inputs {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1em;
  }
  ion-input {
    height: 2em;
    border: solid white 1px;
    border-radius: 1em;
    color: white;
    --padding-start: 1em;
  }
}

.confirm-btn {
  --color: var(--ion-color-primary);
  --background: white;
  --border-style: solid;
  --border-color: #b0aeae;
  --border-width: 1px;
  height: 2em;
  margin: 1.5em 0;
}

#backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
