<ion-toolbar>
  <div class="row" lines="none">

    <ion-note slot="start" *ngIf="!filters.hasFilters">Quick<br>Search</ion-note>

    <ion-button color="dark" fill="clear" class="tiny-btn" shape="round"
                *ngIf="filters.hasFilters"
                (click)="clearFilters()">
      <ion-icon name="close-circle" slot="icon-only"></ion-icon>
    </ion-button>

    <ion-button shape="round" class="tiny-btn"
                (click)="openedFilter == 'categories' ? openedFilter = null : openedFilter = 'categories'"
                [color]="filters.categories.length ? 'success' : ''"
                [fill]="filters.categories.length ? 'solid' : 'outline'"
    >Category
      <ion-icon slot="end" name="chevron-down"></ion-icon>
    </ion-button>

    <ion-button shape="round" class="tiny-btn"
                (click)="openedFilter === 'dates' ? openedFilter = null : openedFilter = 'dates'"
                [color]="(filters.fromDate || filters.toDate) ? 'success' : ''"
                [fill]="(filters.fromDate || filters.toDate) ? 'solid' : 'outline'"
    >Dates
      <ion-icon slot="end" name="chevron-down"></ion-icon>
    </ion-button>

    <ion-button shape="round" class="tiny-btn"
                (click)="openedFilter === 'countries' ? openedFilter = null : openedFilter = 'countries'"
                [color]="filters.countries.length ? 'success' : ''"
                [fill]="filters.countries.length ? 'solid' : 'outline'"
    >Country
      <ion-icon slot="end" name="chevron-down"></ion-icon>
    </ion-button>

    <ion-button fill="outline" shape="round" class="tiny-btn selected"
                [disabled]="!filters.hasFilters"
                (click)="findDressClicked()"
    >FIND ME<br>DRESSES</ion-button>

  </div>

  <ion-row>
    <ion-button fill="outline" shape="round" id="adv-btn" class="tiny-btn"
                (click)="openedFilter === 'advance' ? openedFilter = null : openedFilter = 'advance'"
    >ADVANCED FILTER
    </ion-button>
  </ion-row>
</ion-toolbar>

<ion-list class="list" [ngClass]="openedFilter === 'categories' ? 'open' : 'close'">
  <ion-item *ngFor="let c of categories" color="primary">
    <ion-checkbox slot="start" [value]="filters.categories.includes(c.id)" (ionChange)="addFilter('category', c.id, $event.detail.checked)"></ion-checkbox>
    <ion-label>{{c.title}}</ion-label>
  </ion-item>
</ion-list>

<ion-list class="list" [ngClass]="openedFilter === 'countries' ? 'open' : 'close'">
  <ion-searchbar color="primary" (ionChange)="refreshCountries($event.detail.value)" debounce="0"></ion-searchbar>
  <div class="scrollable-area">
    <ion-item *ngFor="let country of countries" color="primary">
      <ion-checkbox slot="start" [checked]="filters.countries.includes(country.name)" (ionChange)="addFilter('country', country.alpha2Code, $event.detail.checked)"></ion-checkbox>
      <ion-label>{{country.name}}</ion-label>
    </ion-item>
  </div>
</ion-list>

<ion-list class="list" [ngClass]="openedFilter === 'dates' ? 'open' : 'close'">
  <ion-list-header color="primary">
    <ion-title>DATES</ion-title>
  </ion-list-header>
  <div class="input-item">
    <p>BETWEEN</p>
    <div class="inputs">
      <ion-input placeholder="dd" maxlength="2" type="tel"></ion-input>
      <ion-input placeholder="mm" maxlength="2" type="tel"></ion-input>
      <ion-input placeholder="yy" maxlength="2" type="tel"></ion-input>
    </div>
  </div>
  <div class="input-item">
    <p>TO</p>
    <div class="inputs">
      <ion-input placeholder="dd" maxlength="2" type="tel"></ion-input>
      <ion-input placeholder="mm" maxlength="2" type="tel"></ion-input>
      <ion-input placeholder="yy" maxlength="2" type="tel"></ion-input>
    </div>
  </div>
  <div class="input-item">
    <ion-button shape="round" class="confirm-btn" strong="true">CONFIRM</ion-button>
  </div>
</ion-list>

<ion-list class="list" [ngClass]="openedFilter === 'advance' ? 'open' : 'close'">
  <div class="scrollable-area">

    <ion-item-divider color="primary" (click)="openedStyle = !openedStyle">
      <ion-icon slot="start" [name]="openedStyle ? 'chevron-up' : 'chevron-down'"></ion-icon>
      <ion-title>STYLE</ion-title>
    </ion-item-divider>
    <ion-item-group *ngIf="openedStyle" class="input-item">
      <div class="inputs ion-padding-vertical">
        <ion-input placeholder="Find your style"></ion-input>
      </div>
    </ion-item-group>

    <ion-item-divider color="primary" (click)="openedSize = !openedSize">
      <ion-icon slot="start" [name]="openedSize ? 'chevron-up' : 'chevron-down'"></ion-icon>
      <ion-title>SIZE</ion-title>
    </ion-item-divider>
    <ion-item-group *ngIf="openedSize">
      <ion-item *ngFor="let size of sizes" color="primary">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>{{size | dressSize}}</ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-divider color="primary" (click)="openedColor = !openedColor">
      <ion-icon slot="start" [name]="openedColor ? 'chevron-up' : 'chevron-down'"></ion-icon>
      <ion-title>COLOR</ion-title>
    </ion-item-divider>
    <ion-item-group *ngIf="openedColor">
      <ion-item color="primary">
        <app-color-picker theme="primary" name="color" ngDefaultControl></app-color-picker>
      </ion-item>
    </ion-item-group>

    <ion-item-divider color="primary" (click)="openedPrice = !openedPrice">
      <ion-icon slot="start" [name]="openedPrice ? 'chevron-up' : 'chevron-down'"></ion-icon>
      <ion-title>PRICE</ion-title>
    </ion-item-divider>
    <ion-item-group *ngIf="openedPrice" class="input-item">
      <div class="inputs ion-padding-vertical">
        <ion-input type="number" placeholder="From"></ion-input>
        <ion-input type="number" placeholder="To"></ion-input>
      </div>
    </ion-item-group>

  </div>

  <div class="input-item">
    <ion-button shape="round" class="confirm-btn" strong="true">CONFIRM</ion-button>
  </div>

</ion-list>

<div id="backdrop" *ngIf="openedFilter" (click)="openedFilter = null"></div>
