<ion-toolbar>

  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
    <div id="logo" (click)="goHome()">
      <ion-img src="../../assets/logo/logo_small.png"></ion-img>
    </div>
  </ion-buttons>

  <ion-title>{{title}}</ion-title>

  <ion-buttons slot="end" *ngIf="type == 'buttons'">
    <ion-button shape="round" color="medium" fill="solid" (click)="goToMyProducts()" *ngIf="!noMyProdBtn">
      My<br>Products
    </ion-button>
    <ion-button shape="round" color="secondary" fill="solid" (click)="goToUpload()" *ngIf="!noUploadBtn">
      <ion-icon slot="start" src="../../assets/svg/icon_upload.svg"></ion-icon>
      Upload
    </ion-button>
  </ion-buttons>

  <ion-searchbar *ngIf="showSearchbar" (ionBlur)="showSearchbar = false"></ion-searchbar>

  <ion-buttons slot="end" *ngIf="type == 'search'">
    <ion-button (click)="searchClicked()">
      <ion-icon slot="icon-only" src="../../assets/svg/icon_search.svg"></ion-icon>
    </ion-button>
  </ion-buttons>

</ion-toolbar>
