<ion-header>
  <app-header type="buttons" [noMyProdBtn]="true" title="My Products"></app-header>
</ion-header>

<ion-content>

  <ion-list class="app-list ion-no-padding">
    <ion-list-header>
      <ion-title>Dresses On Air</ion-title>
    </ion-list-header>
  </ion-list>

  <div class="grid divider">
    <div></div>
    <div>Dress</div>
    <div class="center">Status</div>
  </div>

  <section>

    <div *ngIf="!dressesService.nonDrafts.length" class="ion-margin ion-text-center">
      <ion-text color="light"><i>No dresses on air yet...</i></ion-text>
    </div>

    <div *ngFor="let dress of dressesService.nonDrafts; let i = index" class="grid row">
      <div class="center">{{i+1}}</div>
      <div>{{dress.name}}</div>
      <div class="center">
        <ion-text [color]="dress.status | dressStatus : 'theme'">{{dress.status | dressStatus | uppercase}}</ion-text>
      </div>
      <ion-button color="medium" shape="round" class="normal-btn list-btn" (click)="goToDressUpload(dress.id)">More Details</ion-button>
    </div>

  </section>

  <ion-row *ngIf="dressesService.nonDrafts.length" (click)="goToGalleryMode()">
    <ion-button id="gallery-btn" class="wider-btn" shape="round" fill="outline" color="dark">Gallery Mode</ion-button>
  </ion-row>


  <ion-list class="app-list ion-no-padding">
    <ion-list-header>
      <ion-title>Drafts Products</ion-title>
    </ion-list-header>
  </ion-list>

  <div class="grid divider">
    <div></div>
    <div>Dress</div>
  </div>

  <section>

    <div *ngIf="!dressesService.drafts.length" class="ion-margin ion-text-center">
      <ion-text color="light"><i>Nothing in drafts</i></ion-text>
    </div>

    <div *ngFor="let dress of dressesService.drafts; let i = index" class="grid row">
      <div class="center">{{i+1}}</div>
      <div>{{dress.name}}
        <ion-text *ngIf="!dress.name" color="danger">Unnamed</ion-text>
      </div>
      <ion-button color="secondary" shape="round" class="normal-btn list-btn" (click)="publish(dress)">PUBLISH</ion-button>
      <ion-button color="medium" shape="round" class="normal-btn list-btn" (click)="goToDressUpload(dress.id)">More Details</ion-button>
    </div>

  </section>


</ion-content>
