<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="../../assets/svg/icon_home.svg"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-icon src="../../assets/svg/icon_list.svg"></ion-icon>
      <ion-label>Categories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon src="../../assets/svg/icon_user.svg"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="options">
      <ion-icon src="../../assets/svg/icon_options.svg"></ion-icon>
      <ion-label>Options</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
