<ion-header [translucent]="true" #header>
  <app-filter></app-filter>
</ion-header>

<ion-content [fullscreen]="true" scrollEvents="true" appHideHeader [header]="header">

  <ion-list class="app-list">

    <ion-list-header>
      <ion-title>Categories</ion-title>
    </ion-list-header>

    <div class="gallery-grid">
      <div *ngFor="let c of categories()" class="category" (click)="filterByCategory(c.id)">
        <img [src]="c.image" [alt]="c.title">
        <p>{{c.title}}</p>
      </div>
    </div>

  </ion-list>

</ion-content>
