ion-card {
  margin: 0;
  box-shadow: none;
  border: solid #c6c6c6 1px;
  img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

ion-card-content {
  padding: 0.5em;
}

#category-text {
  font-weight: bold;
  text-transform: capitalize;
  overflow: hidden;
}

ion-button {
  height: 2em;
}
