@import "../app.component.scss";

ion-content ion-toolbar {
  --background: translucent;
}

ion-item {
  --highlight-height: 0;
}

#changePasswordBtn {
  margin: 0;
  position: relative;
  top: 50%;
  text-transform: capitalize;
}

#orders-row {
  overflow-x: scroll;
}
