<ion-header>
  <app-header type="buttons" title="My Profile"></app-header>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="userDoc">

  <ion-list [inset]="true" lines="full" class="app-list">

    <ion-item-group>

      <ion-list-header>
        <ion-title>Profile</ion-title>
      </ion-list-header>

      <ion-item>
        <ion-avatar slot="start" (click)="userDoc.photoURL ? userPhotoActionSheet() : photoInput.click()">
          <ion-img [src]="userDoc.photoURL || DefaultUserImage"></ion-img>
        </ion-avatar>
        <input type="file" hidden accept="image/*" (change)="setUserPhoto($event)" #photoInput>
        <ion-label position="stacked" color="light">Username</ion-label>
        <ion-input [value]="userDoc.displayName" readonly></ion-input>
        <ion-button slot="end" fill="clear" class="changeBtn" (click)="changeUserName()">Change Username</ion-button>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="light">Password</ion-label>
        <ion-input type="password" readonly value="********"></ion-input>
        <ion-button slot="end" fill="clear" class="changeBtn" (click)="resetPassword()">Change Password</ion-button>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="light">Email</ion-label>
        <ion-input type="email" readonly [(ngModel)]="userDoc.email"></ion-input>
      </ion-item>

    </ion-item-group>

    <ion-item-group>

      <ion-list-header>
        <ion-title>Contact Details</ion-title>
      </ion-list-header>

      <ion-item>
        <ion-label position="floating" color="light">Full Name</ion-label>
        <ion-input [(ngModel)]="userDoc.fullName"></ion-input>
        <ion-button slot="end" fill="clear" shape="round" (click)="editClicked($event)">
          <ion-icon src="../../assets/svg/icon_edit2.svg" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="light">Country</ion-label>
        <ion-input [(ngModel)]="country.country"
                   [pattern]="countryNamePattern"
        ></ion-input>
<!--        <ion-icon *ngIf="country.getCountry()" slot="end" [src]="country.getCountry().flag" class="flag"></ion-icon>-->
        <ion-button slot="end" fill="clear" shape="round" (click)="editClicked($event)">
          <ion-icon src="../../assets/svg/icon_edit2.svg" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="light">Phone</ion-label>
        <ion-input type="tel" [(ngModel)]="phoneNum.phone"
                   [pattern]="phoneNumPattern"
        ></ion-input>
        <ion-button slot="end" fill="clear" shape="round" (click)="editClicked($event)">
          <ion-icon src="../../assets/svg/icon_edit2.svg" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="light">City</ion-label>
        <ion-input [(ngModel)]="userDoc.city"></ion-input>
        <ion-button slot="end" fill="clear" shape="round" (click)="editClicked($event)">
          <ion-icon src="../../assets/svg/icon_edit2.svg" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="light">Address</ion-label>
        <ion-input [(ngModel)]="userDoc.address"></ion-input>
        <ion-button slot="end" fill="clear" shape="round" (click)="editClicked($event)">
          <ion-icon src="../../assets/svg/icon_edit2.svg" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="light">Zip Code</ion-label>
        <ion-input type="tel" [(ngModel)]="userDoc.zipCode"></ion-input>
        <ion-button slot="end" fill="clear" shape="round" (click)="editClicked($event)">
          <ion-icon src="../../assets/svg/icon_edit2.svg" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="light">Size</ion-label>
        <ion-input [value]="userDoc.size | dressSize" readonly></ion-input>
        <ion-select [(ngModel)]="userDoc.size" class="ion-hide" #selectSize>
          <ion-select-option *ngFor="let s of DressSizes" [value]="s">{{s | dressSize}}</ion-select-option>
        </ion-select>
        <ion-button slot="end" fill="clear" shape="round" (click)="selectSize.open()">
          <ion-icon src="../../assets/svg/icon_chevron-down.svg" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>

    </ion-item-group>

    <ion-item-group>

      <ion-list-header>
        <ion-title>My Orders</ion-title>
      </ion-list-header>

      <ion-item *ngIf="!myRents.length" lines="none">
        <ion-label color="light"><i>No orders yet...</i></ion-label>
      </ion-item>

      <ion-row id="orders-row">
        <ion-col size="6" *ngFor="let order of myRents">

        </ion-col>
      </ion-row>

    </ion-item-group>

  </ion-list>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" *ngIf="hasChanges()" (click)="saveChanges()">
  <ion-fab-button>
    <ion-icon name="cloud-upload-outline"></ion-icon>
    <!--    <ion-text>SAVE<br>CHANGES</ion-text>-->
  </ion-fab-button>
</ion-fab>
