@import "../app.component.scss";

ion-content ion-toolbar {
  --background: translucent;
}

ion-item.ion-valid {
  --highlight-height: 0;
}

ion-title {
  font-weight: bold;
}

.changeBtn {
  margin: 0;
  position: relative;
  top: 50%;
  text-transform: capitalize;
}

#orders-row {
  overflow-x: scroll;
}

.flag {
  align-self: center;
  height: 2em;
  width: 2em;
}
