<ion-list>

  <ion-item-divider *ngIf="listTitle">{{listTitle}}</ion-item-divider>

  <ion-item *ngFor="let feedBack of feedBacks; let idx = index; let last = last" [lines]="last ? 'none' : ''">

    <ion-note slot="start" class="serial" color="light">{{idx + 1}}</ion-note>

    <ion-label>

      <p class="feedback-header">
        <b class="title">
          <span (click)="goToUser(feedBack.writerId)">{{feedBack.writerName}}</span>
          <span> | {{feedBack.title}}</span>
        </b>
        <app-stars [rank]="feedBack.rank" size="1.2em"></app-stars>
      </p>

      <p class="feedback-content">
        <span class="text-collapsed" #text
              (click)="text.classList.add('text-collapsed')"
        >{{feedBack.text}}</span>
        <a *ngIf="text.clientHeight < text.scrollHeight"
           (click)="text.classList.remove('text-collapsed')"
        > See more</a>
        <i class="ion-float-end">{{feedBack.timestamp | date : 'd.M.yy'}}</i>
      </p>

    </ion-label>

  </ion-item>

</ion-list>

<div class="view-btn" *ngIf="canExtend">
  <ion-button class="normal-btn" color="dark" shape="round" fill="outline"
              (click)="extend()"
  >View All</ion-button>
</div>
