ion-header:after {
  content: none;
}

.header {
  margin: 1em 0;
  --padding-start: 2em;
  h1 {
    font-size: 1.3em;
    display: inline-block;
    margin: 0;
  }
  ion-button {
    width: 8em;
  }
}

.section {
  border: solid #222222;
  border-width: 2px 0;
  padding-bottom: 2em;
  &:first-child {
    border-top: none;
  }
}

ion-slide {
  padding: 0 0.5em;
}
.swiper-slide {
  display: block;
}

.category {
  h6 {
    font-size: 0.7em;
    margin: 0;
    text-transform: capitalize;
    text-align: center;
    color: #5d5d5d;
  }
}


ion-footer::before {
  content: none;
}
ion-footer > ion-button {
  margin: 0;
  width: 100%;
  --border-radius: none;
  --box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75) !important;
}
