<ion-header>
  <app-header type="buttons"></app-header>
</ion-header>

<ion-content *ngIf="userDoc">

  <ion-list class="app-list">

    <ion-list-header>
      <ion-title>Renter Profile</ion-title>
    </ion-list-header>

    <ion-item-group>

      <div id="photo-item">
        <ion-thumbnail slot="start">
          <img [src]="userDoc.photoURL || DefaultUserImage" alt="User photo" (click)="photoPopover.showPhoto(userDoc.photoURL)">
        </ion-thumbnail>
        <div class="ion-padding-start">
          <ion-item lines="none">
            <ion-label position="stacked" color="light">Full Name</ion-label>
            <ion-input [value]="userDoc.displayName" readonly></ion-input>
          </ion-item>
          <ion-row *ngIf="isMe()">
            <ion-button shape="round" color="secondary" class="normal-btn" (click)="goToEdit()">Edit Profile</ion-button>
          </ion-row>
        </div>
      </div>

      <ion-item>
        <ion-label position="stacked" color="light">Country</ion-label>
        <ion-input readonly [value]="userDoc.country | country"></ion-input>
      </ion-item>

      <div id="stars-item">
        <app-stars [rank]="userDoc.ranks"></app-stars>
        <ion-text>Positive Feedback</ion-text>
      </div>

    </ion-item-group>

    <ion-item-group style="border-bottom: none">

      <div id="reviews-summery">

        <ion-label>All Reviews</ion-label>

        <div *ngFor="let rank of RankCalc.GetList(userDoc.ranks); let i = index" class="rank-table">
          <ion-text>{{(-i + 5) + ' Stars '}}</ion-text>
          <div [ngStyle]="{borderLeftWidth: RankCalc.StarRate(userDoc.ranks, (-i + 5)) + 'px'}"></div>
          <ion-text>{{RankCalc.StarRate(userDoc.ranks, (-i + 5)) + '%'}}</ion-text>
        </div>

      </div>

    </ion-item-group>

  </ion-list>

  <app-feed-backs-list [id]="userDoc.uid" [dressOrUser]="'user'"></app-feed-backs-list>

  <ion-list class="app-list" *ngIf="!isMe()">

    <ion-item-group>

      <ion-label>
        <h2>Leave Feedback</h2>
        <p *ngIf="!isSignedIn()">(For leaving a feedback you must be <a><b>signed in</b></a>)</p>
      </ion-label>

      <div id="my-review">
        <ion-label>Your rating</ion-label>
        <app-stars [selectable]="true" (selected)="myFeedBack.rank = $event"></app-stars>
        <ion-input placeholder="Title" [(ngModel)]="myFeedBack.title"></ion-input>
        <ion-textarea placeholder="Your Feedback" [(ngModel)]="myFeedBack.text"></ion-textarea>
        <ion-button color="dark" shape="round" size="small" class="ion-float-end" (click)="sendFeedBack()">Confirm</ion-button>
      </div>

    </ion-item-group>

    <ion-row>
      <ion-button color="secondary" shape="round" class="normal-btn" style="margin: 1em auto"
                  (click)="connectRenter()"
      >Connect With Renter</ion-button>
    </ion-row>

  </ion-list>

  <ion-list class="app-list">

    <ion-list-header>
      <ion-title>More dresses from {{userDoc.displayName}}</ion-title>
    </ion-list-header>

    <div class="gallery-grid">
      <app-dress-card *ngFor="let dress of userDresses" [dress]="dress"></app-dress-card>
    </div>

  </ion-list>

  <div class="view-btn" *ngIf="userDresses.length >= 4">
    <ion-button class="normal-btn" color="dark" shape="round" fill="outline"
    >View All</ion-button>
  </div>

</ion-content>
