@import "../app.component.scss";


#photo-item {
  ion-thumbnail {
    display: inline-block;
    background-color: var(--ion-color-light);
    height: 8em;
    width: 7em;
  }
  div {
    display: inline-block;
    ion-item {
      --padding-start: 0;
    }
    ion-button {
      --padding-start: 1em;
      --padding-end: 1em;
    }
  }
}

ion-item {
  --highlight-height: 0;
}

#stars-item {
  margin-top: 0.5em;
  padding-left: 0.5em;
  ion-text {
    font-size: 1em;
    line-height: 2;
  }
}

.rank-table {
  display: flex;
  min-width: 200px;
  width: 50%;
  line-height: 1.4;
  div {
    width: 100px;
    border-inline-start: solid var(--ion-color-secondary) 0;
    //border-bottom: solid var(--ion-color-light-tint) 1px;
    height: 0.5em;
    margin: 0.35em 0.25em;
  }
}

#reviews-summery {
  ion-label {
    line-height: 3;
  }
}

//#my-review {
//  margin: 1em 0 3em 0;
//  //font-size: 0.75em;
//  color: var(--ion-color-light);
//  ion-input, ion-textarea {
//    color: black;
//    --padding-top: 0.5em;
//    --padding-bottom: 0.5em;
//    border: solid var(--ion-color-light) 1px;
//    border-radius: 1em;
//  }
//  ion-input {
//    margin-top: 0.5em;
//    width: 40%;
//  }
//  ion-button {
//    font-weight: normal;
//    width: 35%;
//  }
//}

.view-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
