ion-item {
  --background: #f1f1f1;
  --min-height: 0;
  p {
    margin: 0;
  }
  ion-button {
    margin: 0.5em 0;
  }
}

.msg-btn {
  .badge {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    border: solid rgba(0,0,0,0.2) 1px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
